@import url('https://rsms.me/inter/inter-ui.css');

html {
  font-family: 'Inter UI', sans-serif;

  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter UI var alt', sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
